@page
@model BlogCMP1005.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}


<h1 style="text-align:center; background-color:blanchedalmond">Create Blog</h1>


<hr />
<div class="row" style="align-content: center; background-color: darkgoldenrod">
    <div class="col-md-4" style="align-content:center">
        <form method="post" enctype="multipart/form-data" id="test" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Blog.UserName" class="control-label" ></label>
                <input asp-for="Blog.UserName" class="form-control" id="name" />
                <span asp-validation-for="Blog.UserName" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.Title" class="control-label" ></label>
                <input asp-for="Blog.Title" class="form-control" id="testCBV" />
                <span asp-validation-for="Blog.Title" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.Content" class="control-label"></label>
                <input asp-for="Blog.Content" id="textInput" type ="hidden">
                <div id="editor" asp-for="Blog.Content">

                </div>

                <span asp-validation-for="Blog.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.Images" class="control-label"></label>
                <input type="file" asp-for="Blog.Images" name="formFile" id="image" class="form-control" />
                <span asp-validation-for="Blog.Images" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Blog.Date" class="control-label" id="date"></label>
                <input asp-for="Blog.Date" class="form-control" />
                <span asp-validation-for="Blog.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="save" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    
    <script>

        function AddUser() {
            fetch("https://localhost:44324/BlogApi/AddNewBlog?title=1&username=1&images=1&content=1&likes=1&date=1",
                {
                    mode: 'no-cors',
                
                }) 
        .then((response) => response.text()).catch((error) => {
           
        })
            .then((body) =>
        {
            consol.log(body)
        });

        getData()
        }
       

        $('#editor').trumbowyg();
        $('#test').on('submit', function (e) {
            e.preventDefault();
            console.log("clicked")
            // do your things ...
            const k = $('#editor').trumbowyg('html')
            
            document.getElementById("textInput").value = k
            const p = document.getElementById("textInput").value
            console.log(p)
            // and when you done:
            
            e.currentTarget.submit();
        });

        

          

       
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
